version: "3.8"

services:
  postgres:
    image: postgres:13
    container_name: netbox-postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: netbox
      POSTGRES_USER: netbox
      POSTGRES_PASSWORD: netbox
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: netbox-redis
    restart: unless-stopped

  netbox:
    image: netboxcommunity/netbox:v3.2.7
    container_name: netbox
    depends_on:
      - postgres
      - redis
    ports:
      - "8000:8080"
    environment:
      DB_NAME: netbox
      DB_USER: netbox
      DB_PASSWORD: netbox
      DB_HOST: postgres
      DB_PORT: 5432

      REDIS_HOST: redis
      REDIS_PORT: 6379

      ALLOWED_HOSTS: "*"
      SUPERUSER_NAME: admin
      SUPERUSER_EMAIL: admin@example.com
      SUPERUSER_PASSWORD: admin

    volumes:
      - netbox_media:/opt/netbox/netbox/media
      - netbox_reports:/opt/netbox/netbox/reports
      - netbox_scripts:/opt/netbox/netbox/scripts
    restart: unless-stopped

volumes:
  postgres_data:
  netbox_media:
  netbox_reports:
  netbox_scripts:
